* {
    box-sizing: border-box;

}
body {
    color: rgba(8, 0, 57, 0.633);
    background-color: rgb(246, 246, 245);
    font: 300 80%/1.5 'Merriweather', serif;;
    height: 100vh;
    margin: 0px;
    
}
h2, .legendtitle {
    color: rgba(8, 0, 57, 0.866);
}
input::placeholder {
    /* padding-left: 180px; */
}
/* HEADER */
.title {
    text-transform: uppercase;
    font-size: 130%;
    color: rgb(246, 246, 245);
    margin: 0;
    padding: 20px;
    background-color: rgb(8, 0, 57);
    text-align: center;
}

/* MAIN */
main {
    padding: 15px;
}
.h2centering {
    font-size: 116%;
    text-align: center;
    margin: 4px 0 3px;
}
.mainp {
    color:rgba(8, 0, 57, 0.423);
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    margin: 1px 0 2.6px;
    border-bottom: 3px solid rgb(8, 0, 57);
    padding-bottom: 23px;
}
.doublebordertop {
    border-bottom: 2px solid rgb(8, 0, 57);
    margin-bottom: 25px;
}
.legendtitle {
    display: block;
    font-size: 1.5em;
    padding: 0;
    font-weight: bold;
}
input,
select:required:valid {
    color: rgba(0, 2, 57, 0.643);
}
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
.fieldset1 {
    display: flex;
    flex-direction: column;
}
/* .borderabovenewsletter {
    border-bottom: 2px solid rgb(8, 0, 57);
    padding-bottom: 30px;
} */
.labelcontactinfo {
    margin: 1rem 1rem 0.5rem 0;
}
.newsletterlabeltitle {
    margin: 1rem 1rem 0.5rem 0;
    display: block;
}
.labelnewslettercheckbox {
    display: inline-block;
}
.inputnewslettercheckbox {
    margin: 1rem 1rem 0.5rem 0;
}
.inputsizeandcolor {
    width: 100%;
    padding: 1rem 1rem 1rem 0.8rem;
    background-color: rgb(230, 230, 230);
    border:none;
    border-radius: 3%;
}
.zipwidth {
    width: 50%;
}
.textarea {
    height: 90px; 
}
.content {
    padding: 1px;
}
input:focus,
textarea:focus,
input:target,
textarea:target,
input:hover,
textarea:hover,
select:target,
select:hover,
select:focus {
    outline: none;
    border: 2px inset rgba(30, 10, 110, 0.731);
}
.btn {
    cursor: pointer;
    height: 40px;
    font-size: 110%;
    color: rgba(255, 255, 255, 0.918);
    background-color: rgb(4, 128, 121);
    outline: none;
    border: none;
    border-radius: 3%;
}
.btn:hover,
.btn:target,
.btn:focus {
    opacity: .75;
  }
/* Following bit was checked from over the following site as I was having a hard time trying to do what I wanted for my placer holder with the taught material to behave and look as I would expect it to do on a real wewbsite scenario
 "https://www.w3docs.com/snippets/css/how-to-create-a-placeholder-for-an-html5-select-box-by-using-only-html-and-css.html" */
select:required:invalid {
    color: #666;
}
  option[value=""][disabled] {
    display: none;
}
  option {
    color: rgba(0, 2, 57, 0.643);
}
/* FOOTER */
footer {
    padding: 15px;
}
.footerp {
    color:rgba(8, 0, 57, 0.423);
    text-transform: capitalize;
    text-align: center;
    font-size: 88%;
    font-weight: bold;
    font-style: italic;
}
/* MEDIA QUERIES FOR TABLET */
@media (min-width: 768px) {
    body {
        margin: 0;
        max-width: 768px;
    }
    /* HEADER */
    header {
        margin: 0 auto;
        border: none;
        padding: 0;
    }
    header h2 {
        margin: 22px 150px 4px;
    }   
    .headerp {
        margin: auto 150px 3px;
        border-bottom: 4px solid rgb(8, 0, 57);
        padding: 0 0 25px;

    }
/* MAIN     */
    main {
        margin: auto 150px;
    }
    .labelcontactinfo {
        display: inline-block;
        margin-right: 40px;
        flex-basis: calc(20% - -11px);
        padding-top: 20px;
        width: 468px;
        margin: 0;
    }
    .inputcontactinfo {
        display: inline-block;
        flex-basis: calc(100% - 133px);
        margin: 10px 0 10px auto;
    }
    .desktopversion {
        display: flex;
        flex-wrap: wrap
    }
    .inputsizeandcolor {
        margin: 10px 0 10px auto;
        width: 468px;
        flex-basis: calc(100% - 133px);
    }
    .zipwidth {
        margin: 10px auto 10px 0;
        width: 83px;
        flex-basis: auto;
    }
    .labelzipcodedesktop {
        flex-basis: calc(16% - -57px);
    }
    input::placeholder {
        padding-left: 250px;
    }
    .btn {
        /* margin-top: 10px; */
        /* width: 468px; */
    }
/* FOOTER */

    .footerp {
        margin: 40px 150px;
    }
    
}

/* padding es el espacio en relacion del padre a los hijos
margin para separar entre hermanos entre la misma jerearquia */