* {
    box-sizing: border-box;

}
body {
    color: rgba(13, 3, 81, 0.713);
    background-color: rgb(246, 246, 245);
    font: 300 80%/1.5 'Merriweather', serif;;
    height: 100vh;
    margin: 0px;
    
}
h2, .legendtitle {
    color: rgba(8, 0, 57, 0.866);
}
/* HEADER */
.title {
    text-transform: uppercase;
    font-size: 130%;
    color: rgb(246, 246, 245);
    margin: 0;
    padding: 1.3rem;
    background-color: rgb(8, 0, 57);
    text-align: center;
}

/* MAIN */
main {
    padding: 15px;
}
.h2centering {
    font-size: 116%;
    text-align: center;
    margin: 4px 0 3px;
}
.mainp {
    color:rgba(8, 0, 57, 0.423);
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    margin: 1px 0 2.6px;
    border-bottom: 3px solid rgb(8, 0, 57);
    padding-bottom: 23px;
}
.doublebordertop {
    border-bottom: 2px solid rgb(8, 0, 57);
    margin-bottom: 20px;
}
.legendtitle {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    background-color: rgb(246, 246, 245);
    padding: 0;
}
input::placeholder, textarea::placeholder {
    color:rgba(102, 102, 102, 0.437)
}
input::placeholder {
    text-align: right;
    font-style: italic;
    font-size: 80%;
}
.topbordernewsletter {
    border-top: 2px solid rgb(8, 0, 57);
    padding: 20px 0 0;
    width: 100%;
}
input,
select:required:valid {
    color: rgba(0, 2, 57, 0.643);
}
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
.fieldset1 {
    display: flex;
    flex-direction: column;
    background: rgba(0, 13, 255, 0.014);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.labelcontactinfo {
    margin: 1rem 0 0.5rem;
    width: 40%;
}
.newsletterlabeltitle {
    margin: 1rem 1rem 0 3px;
    display: block;
}
.newslettercontent {
    margin: 0.5rem 0;
}
.inputsizeandcolor {
    width: 100%;
    padding: 1rem 1rem 1rem 0.8rem;
    background-color: rgb(230, 230, 230);
    border: hidden;
    border-radius: 5px;
    transition: width .3s;
}
.zipwidth {
    width: 50%;
    margin-bottom: 30px
}
.textarea {
    height: 10vh;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem 1rem 1rem 0.8rem;
    border-radius: 5px;
    overflow: auto;
    resize: none;
    border: hidden;
    background-color: rgba(128, 128, 128, 0.148);
    color: rgba(12, 4, 77, 0.814);
    font: 300 100%/1.5 'Merriweather', serif;
    transition: height 0.3s;
}
.inputsizeandcolor:target,
.inputsizeandcolor:focus,
textarea:target,
textarea:focus {
    outline: none;
    border: 2px inset rgba(30, 10, 110, 0.464);
}
.inputsizeandcolor:target,
.inputsizeandcolor:focus {
    transition-timing-function: linear;
    width: 98%;
}
textarea:target,
textarea:focus {
    transition-timing-function: linear;
    height: 12vh;
}
.zipwidth:target,
.zipwidth:focus {
    transition-timing-function: linear;
    width: 48%
}
.btn {
    cursor: pointer;
    height: 60px;
    color: rgba(255, 255, 255, 0.918);
    background-color: rgba(0, 171, 160, 0.749);
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    font: 800 140%/1.5 'Merriweather', serif;
}
.btn:hover,
.btn:target,
.btn:focus {
    opacity: .75;
  }
/* Following bit was checked from over the following site as I was having a hard time trying to do what I wanted for my placer holder with the taught material to behave and look as I would expect it to do on a real wewbsite scenario
 "https://www.w3docs.com/snippets/css/how-to-create-a-placeholder-for-an-html5-select-box-by-using-only-html-and-css.html" */
select:required:invalid {
    color:rgba(102, 102, 102, 0.437)
}
  option[value=""][disabled] {
    display: none;
}
  option {
    color: rgba(0, 2, 57, 0.643);
}
/* FOOTER */
footer {
    padding: 15px 15px 150px;
}
.footerp {
    color:rgba(8, 0, 57, 0.423);
    text-transform: capitalize;
    text-align: center;
    font-size: 88%;
    font-weight: bold;
    font-style: italic;
}
/* MEDIA QUERIES FOR TABLET */
@media (min-width: 768px) {
    body {
        margin: 0;
        color: rgba(13, 3, 81, 0.713);
    }
/* HEADER */
    .title {
        padding: 0.9rem;  
    }
/* MAIN     */
    main {
        padding: 20px 100px;
    }
    .h2centering {
        font-size: 152%;
        margin-top: 2rem;
    }
    .mainp {
    font-size: 90%;
    padding-bottom: 32px;
    margin: 1px 0 1.6px;
    }
    .doublebordertop {
        margin-bottom: 35px;
    }
    .fieldset1 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .labelcontactinfo {
        padding: 1rem 1rem 1rem 0;
        width: 30%;
        font-weight: bold;
    }
    .inputsizeandcolor {
        width: 70%;
        margin: 1rem 0;
    }
    .inputsizeandcolor:target,
    .inputsizeandcolor:focus {
        transition-timing-function: linear;
        width: 68%;
    }
    .zipwidth {
        width: 25%;
        margin-bottom: 3rem;
    }
    .zipwidth:target,
    .zipwidth:focus {
    transition-timing-function: linear;
    width: 23%
    }
    .topbordernewsletter {
        padding-top: 40px;
    }
/* FOOTER */

    .footerp {
        margin: 0;
        font-size: 95%;
    }
    
}